<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Vérification d'email</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="content">
    <video width="380" height="300" autoplay muted loop>
      <source src="assets/images/email-otp-verification-7384910-6030591.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <ion-text>Un email vous a été envoyé pour vérification !
      Veuillez cliquer sur le lien contenu dans le message pour valider votre compte !
    </ion-text>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button mode="ios" expand="block" shape="round">Renvoyer l'email</ion-button>
  </ion-toolbar>
</ion-footer>
