<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start" #menu>
    <ion-content class="ion-padding">
      <div class="top-content">
        <ion-item mode="ios">
          <div class="user-details">
            <div class="profile">
                <img *ngIf="userData?.photoURL" [src]="userData?.photoURL" alt=""/>
                <h3>{{userShortName}}</h3>
            </div>
            <div class="credentials">
              <ion-label>{{userData?.displayName}}</ion-label>
              <ion-text>{{userData?.email}}</ion-text>
            </div>
          </div>
        </ion-item>
        <ion-item mode="ios" [button]="true" [detail]="false" routerLink="/profile">
          <ion-label class="ion-margin-vertical">Profile</ion-label>
        </ion-item>
        <ion-item mode="ios" [button]="true" [detail]="false">
          <ion-label class="ion-margin-vertical">Paramètres</ion-label>
        </ion-item>
        <ion-item mode="ios" [button]="true" [detail]="false">
          <ion-label class="ion-margin-vertical">Se déconnecter</ion-label>
        </ion-item>

        <div class="guide">
          <ion-item lines="none" mode="ios">
            <a routerLink="">Aide & Support</a>
          </ion-item>
          <ion-item lines="none" mode="ios">
            <a routerLink="">Conditions d'utilisation</a>
          </ion-item>
          <ion-item lines="none" mode="ios">
            <a routerLink="">Nous contacter</a>
          </ion-item>
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>
