<ion-tabs>

  <ion-fab vertical="bottom" horizontal="center" mode="md" translucent="true">
    <ion-fab-button routerLink="/new-reminder">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button color="light" tab="reminders">
      <ion-icon name="alarm-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button color="light" tab="calendar">
      <ion-icon name="calendar-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
