<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/reminders"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md">
      <ion-segment-button>Informations</ion-segment-button>
      <ion-segment-button>Modifier mot de passe</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

</ion-content>

